---

templateKey: 'blog-post'
title: '블록체인 하이콘 테스트 실행'
date: 2019-02-03T10:24:53.100Z
description: >-
  글로스퍼 하이콘 테스트로 실행해 보기
tags:
  - 하이콘
  - hycon
---

## Hycon 테스트

하이콘 0.2.1 을 다운받아 테스트를 해 보니, 지갑송금이 안됨. (하루 삽질).
보안상 0.2 로 하드포크가 필요했나 봅니다.
테스트는 더 낮은 버전으로 실행 해 봄.

깃허브에 올려놓았으며,  [blocvision/hycon-core-v01](https://github.com/blocvision/hycon-core-v01)
개선점을 찾게 되면, 오픈소스로 기여하거나, 에드온으로 개발하려고 합니다. ^^

하이콘 테스트로 가동~~
 [hycontest.bloc.vision](http://hycontest.bloc.vision)












